{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}

<!---If user is not logged in, remove margin on left hand side where navbar normally is --->
{% if not session.user_id %}
<header class="w3-container" id="color" style="margin-top:43px;">
    <hr class="colorgraph">
</header>
{% endif %}

<!---Print Error code on top and message on bottom--->
<div class="w3-container apology">
    <div class="w3-win8-amber">
        <p>Error: Code {{  top  }}</p>
    </div>
    <div class="w3-container w3-white">
        <p>{{  bottom  }}</p>
    </div>
</div>
{% endblock %}


